<html lang='en'>

	<head>
		<meta charset='utf-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Project 2</title>
		<link rel='preconnect' href='https://fonts.googleapis.com' />
		<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
		<link href='https://fonts.googleapis.com/css2?family=Schibsted+Grotesk&family=Source+Code+Pro:wght@600&display=swap' rel='stylesheet' />
		<link href='https://fonts.googleapis.com/css2?family=Schibsted+Grotesk&family=Source+Code+Pro:wght@600&display=swap' rel='stylesheet' />
		<link rel='stylesheet' type='text/css' href='/css/style.css' />
		<script src='https://cdn.tailwindcss.com'></script>
		<script src='https://kit.fontawesome.com/626bad0e5e.js' crossorigin='anonymous'></script>
	</head>

	<body class='bg-gray-100'>
		<nav class='font-sans flex flex-row justify-between py-4 px-6 bg-white shadow items-center w-full'>
			<div class='flex items-center'>
				<img src='/images/blog-logo.png' alt='Bits and bytes logo' class='h-20 w-20 mr-2' />
				<a href='/' class='home-header text-4xl no-underline text-grey-darkest hover:text-blue-dark' id='title'>Bits and Bytes</a>
			</div>
			<div>
				{{#if loggedIn}}
					<h1>{{username}}</h1>
					<a href='/blog/new' class='mr-6'><i class='fa-solid fa-pencil'></i>Write Post</a>
					<a href='/logout' class='text-2xl no-underline text-grey-darkest hover:text-blue-dark mr-6'>Logout</a>
				{{else}}
					<a href='/login' class='text-2xl no-underline text-grey-darkest hover:text-blue-dark mr-4'>Login</a>
				{{/if}}
			</div>
		</nav>
		{{{body}}}
	</body>
</html>