<html lang='en'>

	<head>
		<meta charset='utf-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Project 2</title>
		<link rel='preconnect' href='https://fonts.googleapis.com' />
		<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
		<link href='https://fonts.googleapis.com/css2?family=Schibsted+Grotesk&family=Source+Code+Pro:wght@600&display=swap' rel='stylesheet' />
		<link href='https://fonts.googleapis.com/css2?family=Schibsted+Grotesk&family=Source+Code+Pro:wght@600&display=swap' rel='stylesheet' />
		<link rel='stylesheet' type='text/css' href='/css/style.css' />
		<script src='https://cdn.tailwindcss.com'></script>
		<script src='https://kit.fontawesome.com/626bad0e5e.js' crossorigin='anonymous'></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css" integrity="sha512-hasIneQUHlh06VNBe7f6ZcHmeRTLIaQWFd43YriJ0UND19bvYRauxthDg8E4eVNPm9bRUhr5JGeqH7FRFXQu5g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js" integrity="sha512-bgHRAiTjGrzHzLyKOnpFvaEpGzJet3z4tZnXGjpsCcqOnAH6VGUx9frc5bcIhKTVLEiCO6vEhNAgx5jtLUYrfA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/languages/javascript.min.js" integrity="sha512-/PyN7qb/AgAY5toh7Aq89f/DXt8AWSUxx++9ILRU/D4QwgjE3avvxL2Wi/Ft3aT22kzp29kgKc0o6GwTb+Jmnw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/languages/python.min.js" integrity="sha512-YulS+eyi43Y7kdDoXxhCnsH8OlBesGO1kJ31qeCLSYkhB0X0/onxXa5xEe6FK71WGx6eQlAEaeTdwbGdtOU7Zw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/languages/sql.min.js" integrity="sha512-Peqqjy5bIeDold17e/HyMQqnfD3r1Bl64zCs6HM51YrJqToF/3fPwkvrdYvEFtdlKDOLPA8j9EcEjAVlUHKiaw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/languages/java.min.js" integrity="sha512-q/u4kyu81EzgKqKU/DkkkkK+7VvaGlXUAJDO5dalSHbDap/D/smEW881gaIURe6bh3FjKxGkW/w6MKgjI8Eorw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	</head>

	<body class='bg-gray-100'>
		<nav class='font-sans flex flex-row justify-between py-4 px-6 bg-white shadow items-center w-full'>
			<div class='flex items-center'>
				<img src='/images/blog-logo.png' alt='Bits and bytes logo' class='h-20 w-20 mr-2' />
				<a href='/' class='home-header text-4xl no-underline text-grey-darkest hover:text-blue-dark' id='title'>Bits and Bytes</a>
			</div>
			<div>
				{{#if loggedIn}}
					<h1>{{username}}</h1>
					<a href='/blog/new' class='mr-6'><i class='fa-solid fa-pencil'></i>Write Post</a>
					<a href='/logout' class='text-2xl no-underline text-grey-darkest hover:text-blue-dark mr-6'>Logout</a>
				{{else}}
					<a href='/login' class='text-2xl no-underline text-grey-darkest hover:text-blue-dark mr-4'>Login</a>
				{{/if}}
			</div>
		</nav>
		{{{body}}}
	</body>
</html>