<div class='flex flex-wrap container mx-auto'>
	<div class='w-full order-2 md:w-3/4 md:order-1'>
	<div class='flex flex-wrap mx-auto'>
		{{#each blogs as |blog|}}
		{{> blog-details}}
		{{/each}}
	</div>
	</div>
	<div class='w-full order-1 md:w-1/4 md:order-2 relative'>
		<div class='lg:fixed mx-auto text-center content-center mt-6 block'>
			<section>
				<h2>Side Bar</h2>
				<div class='text-2xl'>Recommended topics</div>
			</section>
			<div class='px-6 pt-4 pb-2'>
				<span
					class='inline-block bg-purple-200 hover:bg-purple-400 rounded-full px-3 py-1 text-sm font-semibold text-purple-700 mr-2 mb-2'>#javascript</span>
				<span
					class='inline-block bg-purple-200 hover:bg-purple-400 rounded-full px-3 py-1 text-sm font-semibold text-purple-700 mr-2 mb-2'>#css</span>
				<span
					class='inline-block bg-purple-200 hover:bg-purple-400 rounded-full px-3 py-1 text-sm font-semibold text-purple-700 mr-2 mb-2'>#html</span>
			</div>
		</div>
	</div>
</div>